.main {
  width: auto;
  background-color: rgba(243, 243, 243, 0.9);
  background-image: url(../../assets/circle.svg);
  background-repeat: no-repeat;
  .mainWrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    .leftSide {
      h1 {
        color: #3f3f3f;
        font-size: 100px;
        margin-top: 165px;
        width: 60%;
      }
      @media (max-width: 1700px) {
        h1 {
          font-size: 90px;
        }
      }
      @media (max-width: 1600px) {
        h1 {
          font-size: 80px;
        }
      }
      @media (max-width: 1450px) {
        h1 {
          font-size: 70px;
        }
      }
      @media (max-width: 1300px) {
        h1 {
          margin-top: 105px;
          margin-bottom: -35px;
          font-size: 60px;
        }
      }
      @media (max-width: 1150px) {
        h1 {
          font-size: 50px;
        }
      }
      @media (max-width: 1100px) {
        h1 {
          line-height: 90px;
          font-size: 46px;
        }
      }
      @media (max-width: 1024px) {
        h1 {
          font-size: 80px;
          text-align: left;
          margin-top: 60px;
          line-height: 140px;
        }
      }
      @media (max-width: 750px) {
        h1 {
          font-size: 70px;
          margin-top: 60px;
        }
      }
      @media (max-width: 640px) {
        h1 {
          font-size: 70px;
          line-height: 110px;
          margin-top: 55px;
        }
      }
      @media (max-width: 600px) {
        h1 {
          font-size: 65px;
          line-height: 110px;
          margin-top: 60px;
        }
      }
      @media (max-width: 580px) {
        h1 {
          font-size: 60px;
          line-height: 100px;
          margin-top: 60px;
        }
      }
      @media (max-width: 530px) {
        h1 {
          line-height: 90px;
          font-size: 54px;
          margin-top: 60px;
        }
      }
      @media (max-width: 495px) {
        h1 {
          line-height: 85px;
          font-size: 50px;
          margin-top: 60px;
        }
      }
      @media (max-width: 475px) {
        h1 {
          font-size: 45px;
          line-height: 80px;
          margin-top: 60px;
        }
      }
      @media (max-width: 400px) {
        h1 {
          font-size: 40px;
          line-height: 70px;
          margin-top: 60px;
        }
      }
      @media (max-width: 360px) {
        h1 {
          font-size: 35px;
          line-height: 60px;
          margin-top: 60px;
        }
      }
      @media (max-width: 310px) {
        h1 {
          font-size: 30px;
          line-height: 55px;
          margin-top: 60px;
        }
      }
      .request {
        margin-top: 83px;
        border: 1px solid #ec1f27;
        background-color: transparent;
        padding: 20px 30px;
        color: #3f3f3f;
        cursor: pointer;
        font-size: 20px;
        &:hover {
          background-color: #ec1f27;
          color: white;
          transition: 250ms;
        }
      }
      @media (max-width: 1024px) {
        .request {
          font-size: 23px;
          padding: 25px 45px;
          margin-top: 60px;
        }
      }
      @media (max-width: 750px) {
        .request {
          font-size: 21px;
          padding: 25px 40px;
          margin-top: 60px;
        }
      }
      @media (max-width: 680px) {
        .request {
          font-size: 19px;
          padding: 25px 40px;
          margin-top: 60px;
        }
      }
      @media (max-width: 635px) {
        .request {
          font-size: 18px;
          padding: 22px 30px;
          margin-top: 60px;
        }
      }
      @media (max-width: 565px) {
        .request {
          font-size: 17px;
          padding: 22px 30px;
          margin-top: 60px;
        }
      }
      @media (max-width: 535px) {
        .request {
          font-size: 16px;
          padding: 22px 30px;
          margin-top: 60px;
        }
      }
      @media (max-width: 515px) {
        .request {
          font-size: 16px;
          padding: 22px 25px;
          margin-top: 60px;
        }
      }
      @media (max-width: 485px) {
        .request {
          font-size: 16px;
          padding: 22px 20px;
          margin-top: 55px;
        }
      }
      @media (max-width: 460px) {
        .request {
          font-size: 16px;
          padding: 22px 15px;
          margin-top: 55px;
        }
      }
      @media (max-width: 430px) {
        .request {
          font-size: 14px;
          padding: 22px 15px;
          margin-top: 50px;
        }
      }
      @media (max-width: 390px) {
        .request {
          font-size: 13px;
          padding: 22px 15px;
          margin-top: 45px;
        }
      }
      @media (max-width: 365px) {
        .request {
          font-size: 13px;
          padding: 17px 10px;
          margin-top: 40px;
        }
      }
      @media (max-width: 340px) {
        .request {
          font-size: 12px;
          padding: 17px 10px;
          margin-top: 40px;
        }
      }
    }
    .rightSide {
      margin-top: 100px;
      display: flex;

      .main1 {
        width: 500px;
        height: 500px;
        transform: skew(-7deg);
        position: absolute;
        top: 350px;
      }

      .main2 {
        position: relative;
        width: 500px;
        height: 590px;
        transform: skew(-5deg);
        margin-bottom: 180px;

        left: 260px;
      }
      .waves {
        position: absolute;
        right: 35%;
        top: 170px;
      }
      .plus {
        position: absolute;
        right: 60px;
        top: 800px;
      }
      @media (max-width: 1750px) {
        .plus {
          right: 50px;
          top: 700px;
          width: 100px !important;
          height: 100px !important;
        }
      }
      @media (max-width: 1500px) {
        .plus {
          right: 50px;
          top: 620px;
          width: 90px !important;
          height: 90px !important;
        }
      }
      @media (max-width: 1368px) {
        .plus {
          right: 30px;
          top: 620px;
          width: 90px !important;
          height: 90px !important;
        }
      }
      @media (max-width: 1300px) {
        .plus {
          right: 30px;
          top: 540px;
          width: 70px !important;
          height: 70px !important;
        }
      }
      @media (max-width: 1100px) {
        .plus {
          right: 20px;
          top: 460px;
          width: 60px !important;
          height: 60px !important;
        }
      }
      .main {
        background-color: transparent;
        position: relative;
      }
      .circleBtn {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: absolute;
        border: 0;
        // background-color: rgba(239, 239, 239, 0.6);
        top: 315px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        .infinite {
          position: relative;

          animation: 3s ease-in 0s normal none infinite running infinite;
          -webkit-animation: 1s linear 0s normal none infinite running infinite;
          animation-timing-function: steps(5, end);
          @keyframes infinite {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
          @-webkit-keyframes infinite {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }

        .play {
          position: absolute;
        }
      }
      @media (max-width: 2560px) {.circleBtn {right: 32%;}}
      @media (max-width: 2400px) {.circleBtn {right: 31%;}}
      @media (max-width: 2250px) {.circleBtn {right: 30%;}}
      @media (max-width: 2150px) {.circleBtn {right: 29%;}}
      @media (max-width: 1950px) {.circleBtn {right: 27%;}}
      @media (max-width: 1850px) {.circleBtn {right: 25%;}}
      @media (max-width: 1750px) {
        .circleBtn {right: 25%;}
        .main {
          width: 720px !important;
          height: 750px !important;
          margin-left: 25px;
        }
      }
      @media (max-width: 1600px) {
        .circleBtn {
          right: 23%;
        }
      }
      @media (max-width: 1500px) {
        .circleBtn {
          top: 245px;
        }
        .main {
          width: 620px !important;
          height: 650px !important;
          margin-left: 25px;
        }
      }
      @media (max-width: 1400px) {
        .waves {
          width: 159px;
        }
        .circleBtn {
          right: 22%;
          .infinite {
            width: 180px !important;
            height: 180px !important;
          }
          .play {
            width: 35px !important;
            height: 35px !important;
          }
        }
      }
      @media (max-width: 1300px) {
        .main {
          width: 520px !important;
          height: 550px !important;
          margin-left: 15px;
        }
        .circleBtn {
          top: 215px;
          right: 24%;
        }
      }
      @media (max-width: 1250px) {
        .circleBtn {
        }
        .waves {
          width: 139px;
        }
      }
      @media (max-width: 1400px) {
      }
      @media (max-width: 1200px) {
        .circleBtn {
          .infinite {
            width: 150px !important;
            height: 150px !important;
          }
          .play {
            width: 30px !important;
            height: 30px !important;
          }
          top: 210px;
          right: 22%;
        }
        .waves {
          width: 119px;
          top: 110px;
        }
      }
      @media (max-width: 1100px) {
        .main {
          width: 420px !important;
          height: 450px !important;
          margin-left: 15px;
        }
        .circleBtn {
          .infinite {
            width: 120px !important;
            height: 120px !important;
          }
          .play {
            width: 25px !important;
            height: 25px !important;
          }
          top: 165px;
          right: 23%;
        }
      }
    }
    @media (max-width: 1024px) {
      .rightSide {
        margin-top: 10px;
        display: flex;

        .main {
          width: 620px !important;
          height: 750px !important;
          margin: 0 auto;
        }
        .waves {
          width: 250px;
          height: 250px;
          right: 7%;
          top: 580px;
        }
        .plus {
          right: 50px;
          top: 1230px;
          width: 110px;
          height: 110px;
        }
        .circleBtn {
          right: 46%;
          top: 850px;
          .infinite {
            width: 200px !important;
            height: 200px !important;
          }
          .play {
            width: 20px;
            height: 20px;
          }
          width: 200px;
          height: 200px;
          border-radius: 50%;
          position: absolute;
          border: 0;
          // background-color: rgba(239, 239, 239, 0.6);
        }
      }
    }
    @media (max-width: 700px) {
      .rightSide {
        .main{
            width: 520px !important;
            height: 650px !important;
        }
        .circleBtn {
          right: 44%;
          top: 830px;
          .infinite {
            width: 160px !important;
            height: 160px !important;
          }
          .play {
            width: 25px;
            height: 25px;
          }
          width: 200px;
          height: 200px;
        }
        .waves {
          width: 210px;
          height: 210px;
          right: 5px;
          top: 580px;
        }
        .plus {
          right: 30px;
          top: 1170px;
          width: 100px;
          height: 100px;
        }
      }
    }
    @media (max-width: 640px) {
      .rightSide {
        .circleBtn {
          right: 43%;
          top: 740px;
          .infinite {
            width: 160px !important;
            height: 160px !important;
          }
          .play {
            width: 25px;
            height: 25px;
          }
          width: 200px;
          height: 200px;
        }
        .waves {
          width: 190px;
          height: 190px;
          right: 5px;
          top: 500px;
        }
        .plus {
          right: 30px;
          top: 1100px;
          width: 80px;
          height: 80px;
        }
      }
    }
    @media (max-width: 580px) {
      .rightSide {
        .main{
          width: 420px !important;
          height: 530px !important;
        }
        .waves {
          width: 170px;
          height: 170px;
          right: 5px;
          top: 480px;
        }
        .plus {
          right: 30px;
          top: 950px;
          width: 70px;
          height: 70px;
        }
        .circleBtn {
          .infinite {
            width: 130px !important;
            height: 130px !important;
          }
          .play {
            width: 25px;
            height: 25px;
          }
          right: 40%;
          top: 660px;
        }
      }
    }
    @media (max-width: 530px) {
      .rightSide {
        .circleBtn {
          right: 39%;
          top: 630px;
        }
        .waves {
          width: 150px;
          height: 150px;
          right: 5px;
          top: 480px;
        }
        .plus {
          right: 30px;
          top: 930px;
          width: 60px;
          height: 60px;
        }
      }
    }
    @media (max-width: 480px) {
      .rightSide {
        .waves {
          width: 150px;
          height: 150px;
          right: 5px;
          top: 460px;
        }
        .plus {
          right: 30px;
          top: 910px;
          width: 60px;
          height: 60px;
        }
        .circleBtn {
          top: 610px;
        }
      }
    }
    @media (max-width: 450px) {
      .rightSide {
        .main{
          width: 320px !important;
          height: 430px !important;
        }
        .waves {
          width: 130px;
          height: 130px;
          right: 5px;
          top: 460px;
        }
        .plus {
          right: 30px;
          top: 810px;
          width: 50px;
          height: 50px;
        }
        .circleBtn {
          .infinite {
            width: 100px !important;
            height: 100px !important;
          }
          .play {
            width: 20px !important;
            height: 20px !important;
          }
          top: 560px;
          right: 34%;
        }
      }
    }
    @media (max-width: 400px) {
      .rightSide {
        .waves {
          width: 110px;
          height: 110px;
          right: 5px;
          top: 425px;
        }
        .plus {
          right: 20px;
          top: 780px;
          width: 40px;
          height: 40px;
        }
        .circleBtn {
          top: 530px;
          right: 32%;
        }
      }
    }
    @media (max-width: 360px) {
      .rightSide {
        .waves {
          width: 100px;
          height: 100px;
          right: 2px;
          top: 380px;
        }
        .plus {
          right: 15px;
          top: 740px;
          width: 40px;
          height: 40px;
        }
        .circleBtn {
          top: 470px;
          right: 31%;
        }
      }
    }
    @media (max-width: 340px) {
      .rightSide {
        .main{
          width: 250px !important;
          height: 370px !important;
      }
        .circleBtn {
          .infinite {
            width: 90px !important;
            height: 90px !important;
          }
          .play {
            width: 17px !important;
            height: 17px !important;
          }
          top: 450px;
          right: 27%;
        }
        .plus {
          right: 15px;
          top: 680px;
          width: 40px;
          height: 40px;
        }
      }
    }
    @media (max-width: 319px) {
      .rightSide {
        .plus {
          right: 15px;
          top: 680px;
          width: 40px;
          height: 40px;
        }
        .waves {
          width: 100px;
          height: 100px;
          right: 2px;
          top: 380px;
        }
      }
    }
    @media (max-width: 300px) {
      .rightSide {
        .main{
          width: 250px !important;
          height: 370px !important;
      }
        .circleBtn {
          .infinite {
            width: 90px !important;
            height: 90px !important;
          }
          .play {
            width: 17px !important;
            height: 17px !important;
          }
          top: 430px;
          right: 24%;
        }
      }
    }
  }
  @media (max-width: 340px) {
    .mainWrapper {
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }
}

.video {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 302;

  .closeVideo {
    position: absolute;
    right: 10%;
    top: 10%;
    cursor: pointer;
  }
  .videoContent {
    width: 70%;
    height: 70%;
  }
}
@media (max-width: 1024px) {
  .video {
    .closeVideo {
      position: absolute;
      right: 10%;
      top: 17%;
      cursor: pointer;
    }
    .videoContent {
      margin-top: 150px;
      width: 80%;
    }
  }
}
@media (max-width: 1024px) {
  .main {
    padding-top: 70px;
  }
}

.mainWrapper__mobile {
  display: flex !important;
  flex-direction: column;
}
.mobilebuttonWrapper {
  position: fixed;
  bottom: 50px;
  left: 20px;
  z-index: 300;
}
